Repository cloudalchemy/ansible-grafana, pull requests merged in 2020-03, with the labels that each got.

#205 [fix] Update apt-cache before installing dependencies
  tasks/install.yml
  test-requirements.txt
Labels: area/tasks, area/tests

#208 Fix RPi 1 issue when grafana-rpi package needs to be installed (#207)
  vars/debian.yml
Labels: area/vars

#211 Avoid being clever about unsupported architectures
  tasks/preflight.yml
Labels: area/tasks

#213 cast grafana_port to int. Fix #212
  tasks/configure.yml
  tasks/preflight.yml
Labels: area/tasks
