Repository cloudalchemy/ansible-grafana, pull requests merged in 2020-07, with the labels that each got.

#226 Make sure to create default plugin provisioning directory
  tasks/configure.yml
Labels: area/tasks

#227 Provision alert notification channels using config file
  README.md
  defaults/main.yml
  molecule/alternative/playbook.yml
  tasks/notifications.yml
Labels: area/docs, area/tasks, area/tests, area/vars

#225 enable basic auth in metrics section
  templates/grafana.ini.j2
Labels: area/jinja
